factions:
  NameMinCharacters: 3
  NameMaxCharacters: 16
  maxMembers: 25
  maxClaims: 8
  maxAllies: 1
  dtr:
    RegenFreezeBaseMinutes: 40
    minutesPerMember: 2
    minimum: -50
    maximum: 6.0
    millisecondsBetweenUpdates: 45000
    incrementBetweenUpdates: 0.1
  relationColours:
    warzone: "LIGHT_PURPLE"
    wilderness: "DARK_GREEN"
    teammate: "GREEN"
    ally: "GOLD"
    enemy: "RED"
    road: "BLUE"
    safezone: "AQUA"
  antirotation:
    delay: 6
    enabled: false
  endportal:
    enabled: true
    center: 1000
    radius: 7
  spawn:
    radiusOverworld: 800
    radiusNether: 800
  roads:
    widthLeft: 7
    widthRight: 7
    length: 4000
    allowClaimsBesides: true
  warzone:
    radiusOverworld: 800
    radiusNether: 800
  disallowednames:
    - "ETB"
  home:
    teleportdelay:
      normal: 10
      nether: 20
      end: 30
      allowTeleportingInEnemyTerritory: true
      maxHeight: -1
subclaimsigns:
  private: false
  Captain: false
  leader: false
  hoppercheck: false
preventAllyAttackDamage: true
messageDebug: false
# DATABASE START HERE
mongo:
  use: true # FALSE = FLATFILE.
  host: "n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017"
  database: "bz5tv19wwqmhwvd"
  username: "uyiynvbaeurstqdxiuv3"
  password: "rmpqalpSJnlVDhf0LfLW"
# IMPORTANT FOR FACTION THINGS.
kit-map: false
# nametag things, KEANO API.
NAMETAGS:
  NORMAL: '&6[%name% %dtr-color%%dtr%&6]'
  TEAM_TOP: '&6[%pos% %pos-color%%name% %dtr-color%%dtr%&6]'
  VANISHED_SYMBOL: '&b*'
  FORMAT: # Placeholder Supports.
    MOD_MODE:
      - '&3[Mod Mode]'
      - '%name%'
    IN_TEAM:
      - '%teamtag%'
      - '%name%'
    NO_TEAM:
      - '%name%'
playerfaction-show:
  - "&6&m----------&7[{faction}&7]&6&m----------" #home-coords will just become "None" if they do not have a home set
  - "&6DTR: &e{deaths-dtr}&6/ &e{max-dtr}" #You can set the default colors in the config.yml, default is red = raidable, green = not raidable
  - "&6DTR Freeze: &e{time}" #This will only be displayed if the faction is frozen.
  - "&6Faction Home: &e{home-coords}"
  - "&6Allies: &e{allies}"
  - "&6Points: &e{faction-points}"
  - "&6Balance: &e${balance}"
  - "&6Members: &e{total} / {total-max}"
  - "&6Members online({members-on-count}): {members-online}"
  - "&6Members offline({members-of-count}): {members-offline}" 
# SHOULD USE OUR SYSTEMS (LISTENERS & TIMERS & OTHERS)
API:
  our: true # FALSE MEANS USE EVENTS OR INTERFACES || AND FOR COMMANDS LIKE TIMER
  events: true # TRUE MEANS INTERFACES | FALSE MEANS EVENTS